/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    display: none; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

@font-face {
  font-family: "Trade Gothic W01";
  src: url("../fonts/trade-gothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix");
  src: url("../fonts/trade-gothic/1d699af3-0e50-4c4b-a343-42d071e85714.eot?#iefix") format("eot"), url("../fonts/trade-gothic/5414f75e-5cb8-4357-88e5-5a294424c859.woff2") format("woff2"), url("../fonts/trade-gothic/537b145a-6a7d-4787-81d9-7228d3a42458.woff") format("woff"), url("../fonts/trade-gothic/8e50278c-45cd-4808-b774-24767d958f17.ttf") format("truetype"), url("../fonts/trade-gothic/d918b947-5fcb-42e2-8286-a98a801876de.svg#d918b947-5fcb-42e2-8286-a98a801876de") format("svg"); }

@font-face {
  font-family: "Trade Gothic W01";
  src: url("../fonts/trade-gothic/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix");
  src: url("../fonts/trade-gothic/2e9af08f-0faf-45e3-9767-78a700434af3.eot?#iefix") format("eot"), url("../fonts/trade-gothic/d2e623ca-efc6-4557-ae55-ebb786065dcf.woff2") format("woff2"), url("../fonts/trade-gothic/f51d24dd-8256-43c6-ba1a-6aeae9d3f262.woff") format("woff"), url("../fonts/trade-gothic/955ee494-66b2-4eb2-8f19-bc3a088df16d.ttf") format("truetype"), url("../fonts/trade-gothic/d5153ad4-7c93-4757-9147-640e69ec4801.svg#d5153ad4-7c93-4757-9147-640e69ec4801") format("svg");
  font-weight: bold; }

button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='file'] > input[type='button'], .button {
  box-sizing: border-box;
  display: inline-block;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
  border-radius: .2em;
  background: #9d1100;
  border: 0;
  cursor: pointer;
  padding: 1.04em 3.2em;
  text-transform: uppercase;
  color: white;
  font-size: .8em;
  min-width: 13em;
  margin: 0 0.2em; }
  .csstransforms3d button, .csstransforms3d input[type='reset'], .csstransforms3d input[type='button'], .csstransforms3d input[type='submit'], .csstransforms3d input[type='file'] > input[type='button'], .csstransforms3d .button {
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }
    .csstransforms3d button:before, .csstransforms3d input[type='reset']:before, .csstransforms3d input[type='button']:before, .csstransforms3d input[type='submit']:before, .csstransforms3d .button:before {
      content: '';
      position: absolute;
      background: #740d00;
      border-radius: .2em;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
      -webkit-transform: scaleX(0);
          -ms-transform: scaleX(0);
              transform: scaleX(0);
      -webkit-transform-origin: 50%;
          -ms-transform-origin: 50%;
              transform-origin: 50%; }
  button:hover,
  input[type='reset']:hover,
  input[type='button']:hover,
  input[type='submit']:hover,
  input[type='file'] > input[type='button']:hover, button:focus,
  input[type='reset']:focus,
  input[type='button']:focus,
  input[type='submit']:focus,
  input[type='file'] > input[type='button']:focus, .button:hover, .button:focus {
    background: #740d00;
    text-decoration: none; }
    .csstransforms3d button:hover, .csstransforms3d input[type='reset']:hover, .csstransforms3d input[type='button']:hover, .csstransforms3d input[type='submit']:hover, .csstransforms3d button:focus, .csstransforms3d input[type='reset']:focus, .csstransforms3d input[type='button']:focus, .csstransforms3d input[type='submit']:focus, .csstransforms3d .button:hover, .csstransforms3d .button:focus {
      background: #9d1100; }
      .csstransforms3d button:hover:before, .csstransforms3d input[type='reset']:hover:before, .csstransforms3d input[type='button']:hover:before, .csstransforms3d input[type='submit']:hover:before, .csstransforms3d button:focus:before, .csstransforms3d input[type='reset']:focus:before, .csstransforms3d input[type='button']:focus:before, .csstransforms3d input[type='submit']:focus:before, .csstransforms3d .button:hover:before, .csstransforms3d .button:focus:before {
        -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
                transform: scaleX(1); }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.hero-categories ul, .l-footer .quick-links ul, .l-nav ul, .hero-categories ul li, .l-footer .quick-links ul li, .l-nav ul li {
  margin: 0;
  padding: 0;
  list-style: none; }

.element-focusable, .element-invisible, .screen-reader-text, .layout-toggle-checkbox {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto; }

section, article, aside, footer, header, nav, main {
  display: block; }

input, select, textarea, button {
  font-size: 1em;
  font-family: inherit; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

input[type=text],
input[type=email],
input[type=tel],
input[type=password],
input[type=file],
textarea,
select {
  box-sizing: border-box;
  border-radius: .2em;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  width: 100%;
  max-width: 100%;
  border: 1px solid #ddd;
  border-color: rgba(10, 10, 10, 0.15);
  background: white;
  padding: 0.4em 1em;
  line-height: 1.4em; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  input[type=password]:focus,
  input[type=file]:focus,
  textarea:focus,
  select:focus {
    border-color: lightblue;
    outline: 0; }

textarea {
  resize: vertical;
  padding-top: .64em;
  padding-bottom: .64em;
  min-height: 8em;
  height: 8em; }

label.form-item {
  display: block; }

label.form-label-inside {
  border-radius: .2em;
  background: white; }
  label.form-label-inside:after {
    content: '';
    display: table;
    clear: both; }
  label.form-label-inside .label {
    padding: 0.4em 1em;
    line-height: 1.4em;
    font-weight: normal;
    color: #999;
    border: 1px solid transparent; }
  label.form-label-inside input, label.form-label-inside textarea {
    background: none; }
    label.form-label-inside input.nonempty, label.form-label-inside textarea.nonempty {
      background: white; }
  label.form-label-inside > * {
    box-sizing: border-box;
    float: left;
    width: 100%; }
    label.form-label-inside > * + * {
      margin-left: -100%; }

img {
  border: 0; }

img, media, video {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

table {
  width: 100%; }
  table th, table td {
    padding: .4em;
    text-align: left;
    vertical-align: top; }

body {
  color: #676767;
  font-family: "Trade Gothic W01", sans-serif; }

p {
  margin: 0; }
  p + p {
    margin-top: .8em; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 1.4em 0 0.4em; }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, .h1:first-child, .h2:first-child, .h3:first-child, .h4:first-child, .h5:first-child, .h6:first-child {
    margin-top: 0; }

h1, .h1 {
  font-size: 2.2em; }

h2, .h2 {
  font-size: 2em; }

h3, .h3 {
  font-size: 1.5em; }

h4, .h4 {
  font-size: 1.3em; }

h5, .h5 {
  font-size: 1.1em; }

h6, .h6 {
  font-size: 1em; }

a {
  text-decoration: none;
  color: darkblue; }
  a:hover, a:focus {
    text-decoration: underline; }

.aligncenter, .alignleft, .alignright {
  display: block;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 44em) {
  .alignright {
    float: right;
    margin: 2px 0 5px 10px;
    max-width: 50%; }
  .alignleft {
    float: left;
    margin: 2px 10px 5px 0;
    max-width: 50%; } }

.l-constrained {
  max-width: 18.66667em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.4em;
  padding-right: 2.4em; }
  .l-constrained:after {
    content: " ";
    display: block;
    clear: both; }

.l-unconstrained {
  clear: both;
  margin: 0 -50vw; }

.l-unconstrained-constraint {
  max-width: 100vw;
  margin: 0 auto; }

@media (min-width: 44em) {
  .l-constrained {
    max-width: 60em; } }

@media (min-width: 56em) {
  .l-constrained {
    max-width: 60em; } }

.one-half, .one-third, .two-thirds, .one-fourth, .three-fourths, .one-sixth, .five-sixths {
  box-sizing: border-box;
  margin-bottom: 3.6em; }

@media (min-width: 44em) {
  .one-half, .one-third, .two-thirds, .one-fourth, .three-fourths, .one-sixth, .five-sixths {
    margin-bottom: 0; }
  .one-half {
    width: 47.91667%;
    float: left;
    margin-right: 4.16667%; }
  .one-third {
    width: 30.55556%;
    float: left;
    margin-right: 4.16667%; }
  .two-thirds {
    width: 65.27778%;
    float: left;
    margin-right: 4.16667%; }
  .one-fourth {
    width: 21.875%;
    float: left;
    margin-right: 4.16667%; }
  .three-fourths {
    width: 73.95833%;
    float: left;
    margin-right: 4.16667%; }
  .one-sixth {
    width: 30.55556%;
    float: left;
    margin-right: 4.16667%; }
  .five-sixths {
    width: 82.63889%;
    float: left;
    margin-right: 4.16667%; }
  .one-half {
    width: 48.33333%;
    float: left;
    margin-right: 3.33333%; }
  .one-third {
    width: 31.11111%;
    float: left;
    margin-right: 3.33333%; }
  .two-thirds {
    width: 65.55556%;
    float: left;
    margin-right: 3.33333%; }
  .one-fourth {
    width: 22.5%;
    float: left;
    margin-right: 3.33333%; }
  .three-fourths {
    width: 74.16667%;
    float: left;
    margin-right: 3.33333%; }
  .one-sixth {
    width: 13.88889%;
    float: left;
    margin-right: 3.33333%; }
  .five-sixths {
    width: 82.77778%;
    float: left;
    margin-right: 3.33333%; }
  .omega {
    float: right;
    margin-right: 0; }
  .centered {
    float: none;
    clear: both;
    margin: 0 auto;
    text-align: center; } }

.fixedsticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky; }

.fixedsticky-withoutfixedfixed .fixedsticky-off,
.fixed-supported .fixedsticky-off {
  position: static; }

.fixedsticky-withoutfixedfixed .fixedsticky-on,
.fixed-supported .fixedsticky-on {
  position: fixed; }

.fixedsticky-dummy {
  display: none; }

.fixedsticky-on + .fixedsticky-dummy {
  display: block; }

.hero-banner {
  border-bottom: 3px solid white; }
  .hero-banner > img {
    width: 100%; }

.hero-categories {
  background: #eee;
  margin-bottom: 1.8em; }
  .hero-categories .l-constrained {
    padding-left: 0;
    padding-right: 0; }
  @media (min-width: 44em) {
    .hero-categories ul {
      text-align: center; }
      .hero-categories ul li {
        display: inline-block;
        vertical-align: top; } }
  @media (min-width: 56em) {
    .hero-categories ul {
      font-size: 1.2em; } }
  .hero-categories ul a {
    display: block;
    font-weight: bold;
    color: #9d1100;
    padding: 0.4em 1em;
    position: relative; }
    @media (min-width: 56em) {
      .hero-categories ul a {
        padding: 0.4em 2em; } }
    .hero-categories ul a:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.24));
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.24));
      -webkit-transition: opacity 0.2s ease-in-out;
              transition: opacity 0.2s ease-in-out;
      opacity: 0; }
    .hero-categories ul a:hover {
      text-decoration: none; }
      .hero-categories ul a:hover:before {
        opacity: 1; }
      .hero-categories ul a:hover img {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); }
    .hero-categories ul a > * {
      position: relative; }
  .hero-categories ul img {
    vertical-align: middle;
    margin-right: 1.4em;
    border-radius: 50%;
    box-shadow: none;
    -webkit-transition: box-shadow 0.2s ease-in-out;
            transition: box-shadow 0.2s ease-in-out; }
  .hero-categories ul span {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    line-height: 1;
    text-shadow: 0 0 3px #eee, 0 0 26px #eee; }

.l-footer {
  border-top: 3px solid #9d1100;
  padding: 2.4em 0 1.4em; }
  .l-footer, .l-footer a {
    color: white; }
  .l-footer .l-constrained > * {
    margin-bottom: 2.4em; }
    @media (min-width: 44em) {
      .l-footer .l-constrained > * {
        width: 31.11111%;
        float: left;
        margin-right: 3.33333%;
        margin-bottom: 0; }
        .l-footer .l-constrained > *:nth-child(3n+3) {
          float: right;
          margin-right: 0; } }
  .l-footer .quick-links {
    font-weight: bold; }
    .l-footer .quick-links ul {
      text-transform: uppercase;
      font-size: 1.2em;
      margin-top: -.4em; }
      .l-footer .quick-links ul a {
        display: block;
        padding: .4em 0; }
  .l-footer .legal {
    font-size: .9em; }
  .l-footer .contact-info {
    font-weight: bold;
    font-size: 1.2em; }
    @media (min-width: 56em) {
      .l-footer .contact-info {
        width: auto; } }
    .l-footer .contact-info .adr {
      margin-bottom: 1.2em; }

.l-header {
  background: white;
  position: relative;
  z-index: 4; }
  @media (max-width: 43.99em) {
    .l-header > .l-constrained {
      max-width: none;
      padding: 0 1.4em 0 1em; } }
  .l-header .site-logo {
    float: left; }
    .l-header .site-logo h1 {
      margin: 0; }
    .l-header .site-logo img {
      max-height: 50px;
      display: block; }
      @media (min-width: 44em) {
        .l-header .site-logo img {
          max-height: none; } }
  .l-header .schedule-consultation {
    float: right;
    text-align: center;
    color: #676767;
    font-size: .9em;
    margin-top: .56em; }
    .l-header .schedule-consultation:hover {
      text-decoration: none; }
      .l-header .schedule-consultation:hover .phone {
        text-decoration: underline; }
    .l-header .schedule-consultation .title {
      display: block; }
    .l-header .schedule-consultation .phone {
      display: block;
      color: #9d1100;
      font-weight: bold; }
    @media (min-width: 44em) {
      .l-header .schedule-consultation {
        box-shadow: none;
        border: 1px solid transparent;
        -webkit-transition: border-color 0.2s, box-shadow 0.2s;
                transition: border-color 0.2s, box-shadow 0.2s;
        font-size: 1em;
        margin-top: .48em;
        border-radius: .4em;
        padding: 0.8em 0.8em 0.64em; }
        .l-header .schedule-consultation .title {
          margin-bottom: .8em; }
        .l-header .schedule-consultation:hover {
          border-color: #9d1100;
          box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.24) inset, 0 0 7px #f3b9b2; }
          .l-header .schedule-consultation:hover .phone {
            text-decoration: none; } }

.l-nav {
  background: #9d1100;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: 3px solid white; }
  .l-nav label {
    position: relative;
    z-index: 4;
    float: right;
    padding: 0.8em 3.2em 0.8em 0;
    font-size: .9em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .14em;
    color: white;
    background: #9d1100;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden; }
    .l-nav label > * {
      -webkit-transition: all 0.4s ease;
              transition: all 0.4s ease;
      float: right;
      width: 8em; }
      .l-nav label > *:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .l-nav label > * > span {
        -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
        display: inline-block;
        vertical-align: middle;
        margin: .2em 0 0;
        width: 8em;
        text-align: right; }
    .l-nav label h2 {
      font-size: 1em;
      font-family: inherit;
      opacity: 1;
      margin: 0; }
      .l-nav label h2 > span {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none; }
    .l-nav label i {
      -webkit-transition: all 0.4s ease;
              transition: all 0.4s ease;
      position: absolute;
      top: 50%;
      right: 1.52em;
      font-size: .9em;
      margin-top: -.48em;
      opacity: 1;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    .l-nav label .close {
      opacity: 0;
      margin-right: -8em; }
      .l-nav label .close > span {
        -webkit-transform: translateX(-2em);
            -ms-transform: translateX(-2em);
                transform: translateX(-2em); }
        .l-nav label .close > span:before {
          content: 'Close';
          font-weight: bold; }
      .l-nav label .close i {
        -webkit-transform: translateY(-2em);
            -ms-transform: translateY(-2em);
                transform: translateY(-2em); }
  .l-nav ul {
    -webkit-transition: max-height 0.4s ease;
            transition: max-height 0.4s ease;
    max-height: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.95);
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto; }
    .l-nav ul a {
      display: block;
      text-align: center;
      position: relative;
      text-transform: uppercase;
      color: #676767;
      padding: .8em 0; }
      .l-nav ul a:after {
        content: '';
        position: absolute;
        width: 75%;
        bottom: 0;
        left: 12.5%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
      .l-nav ul a:hover {
        background: #eee;
        text-decoration: none; }
    .layout-toggle-checkbox:checked ~ .l-nav ul {
      max-height: 100vh;
      padding: 0 3em;
      padding-top: calc(47px + 5.8em);
      left: -3em;
      right: -3em;
      bottom: 0; }
    @media (min-width: 44em) {
      .l-nav ul {
        margin-top: 0; } }
  #main-menu-toggle:checked + .l-nav > label h2 {
    opacity: 0; }
    #main-menu-toggle:checked + .l-nav > label h2 > span {
      -webkit-transform: translateX(-2em);
          -ms-transform: translateX(-2em);
              transform: translateX(-2em); }
    #main-menu-toggle:checked + .l-nav > label h2 i {
      -webkit-transform: translateY(2em);
          -ms-transform: translateY(2em);
              transform: translateY(2em); }
  #main-menu-toggle:checked + .l-nav > label .close {
    opacity: 1; }
    #main-menu-toggle:checked + .l-nav > label .close > span {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
    #main-menu-toggle:checked + .l-nav > label .close i {
      -webkit-transform: none;
          -ms-transform: none;
              transform: none; }
  @media (min-width: 44em) {
    .l-nav label {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px); }
    .l-nav ul {
      position: static;
      background: none;
      max-height: none; }
      .l-nav ul:hover li.active a {
        background: none; }
      .l-nav ul li {
        display: inline-block;
        vertical-align: top; }
        .l-nav ul li a {
          -webkit-transition: .2s background;
                  transition: .2s background;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 1.1em;
          font-weight: bold;
          padding: 0.4em 1em; } }
      @media (min-width: 44em) and (min-width: 56em) {
        .l-nav ul li a {
          padding: 0.4em 2.4em; } }
  @media (min-width: 44em) {
          .l-nav ul li a:after {
            display: none; }
          .l-nav ul li a:hover {
            background: #7a2920; }
        .l-nav ul li.active a, .l-nav ul li.active a:hover {
          background: #7a2920; } }

.post {
  line-height: 1.4; }
  .post h2, .post h3, .post h4, .post h5, .post h6 {
    color: #333; }
  .post h3, .post h4, .post h5, .post h6 {
    font-weight: normal; }
.request-consultation{
  padding-bottom: 30px;
}
.request-consultation h3 {
  font-size: 1.2em;
  margin: 0.2em 0 0.64em; }

.request-consultation .form-item {
  margin-bottom: .8em; }

.request-consultation .form-actions {
  text-align: center; }
  .request-consultation .form-actions button {
    font-size: .72em;
    margin: 0;
    padding-top: 1.52em;
    padding-bottom: 1.52em; }

.testimonials {
  background: #4d4d4d url(../images/testimonials-bg.jpg) center top repeat-y;
  background-size: cover;
  text-align: center;
  padding: 2.4em 0 3.2em;
  margin-top: 2.4em; }
  .testimonials, .testimonials a {
    color: white; }
  .testimonials h2 {
    display: inline-block;
    color: white; }
    .testimonials h2:after {
      content: '';
      display: block;
      margin: 0.24em 1.64em 0;
      border-bottom: 4px solid #9d1100; }
  .testimonials blockquote {
    font-size: 1.2em;
    margin: 0.4em auto 1.2em;
    max-width: 45em;
    line-height: 1.2; }
    .testimonials blockquote footer {
      font-size: .9em;
      text-transform: uppercase;
      margin-top: 1.4em; }
  .testimonials .owl-dots .owl-dot {
    display: inline-block;
    padding: 0 0.48em; }
    .testimonials .owl-dots .owl-dot span {
      -webkit-transition: background-color 0.2s;
              transition: background-color 0.2s;
      display: block;
      width: .9em;
      height: .9em;
      border-radius: .9em;
      background: white; }
    .testimonials .owl-dots .owl-dot:hover span {
      background: #ce8880; }
  .testimonials .owl-dots .active span, .testimonials .owl-dots .active span:hover {
    background: #9d1100; }

body {
  margin: 0;
  background: #333; }

main {
  background: white;
  width: 100%;
  overflow: hidden; }

.l-page {
  width: 100%; }
  .main-menu-toggle .l-page {
    overflow: hidden;
    position: relative; }
